@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&family=Rubik+Mono+One&display=swap');

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: rgb(238, 225, 234);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}


/**
*! Navbar styles here
**/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: black;
    color: whitesmoke;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid white;
    z-index: 1;
}


.navbar-middle-elements {
    display: flex;
    gap: 50px;
    position: relative;
    font-weight: bold;
}

.gender-navbar-box {
  position: absolute;
  top: 100%;
  left: 20%;
  z-index: 1;
  background-color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}

.gender-navbar-box a{
    display: block;
    margin-bottom: 5px;
   
}



.navbar a {
    color: whitesmoke;
}

.navbar * p {
    color: white;
}


.bag-icon {
    color: wheat;
    font-size: 25px;

}

.cart-navbar {
    display: flex;
    gap: 5px;
}



/**
*! Starpage styles here
**/

.startpage-welcome-div {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(209, 202, 207, 0.73)),
    url(/src/assets/sneakers-welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.startpage-welcome-div>a {
    background-color: rgb(245, 232, 232);
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 50px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.cloud-text {
    font-family: 'Rubik Mono One', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/clouds.jpg);
    background-size: auto;
    background-attachment: unset;
    background-position: 0%;
    width: 80%;
    font-size: 100px;
    animation: clouds-moving infinite 220s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: linear;
    text-align: center;
}


@keyframes clouds-moving {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

/**
*! Angebote StartPage Div
**/

.startpage-sales-div {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.changing-background-container {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sales-notice-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: black;
    background: url(/src/assets/angebote-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 80px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.sales-notice-card>a {
    color: white;
    background-color: black;
    padding: 0px 30px;
    font-size: 30px;
}

/**
*! Discount Page Styles here
**/

.discount-page {
    padding-top: 200px;
}

.old-price {
    color: red;
    text-decoration: line-through;
    margin-right: 10px;
}

.discount-price {
    color: green;
}

/**
*! Gender Selection Startpage styles here
**/

.startpage-gender-shop-selection-div {
    height: 60vh;
    display: flex;
    text-align: center;
    border-block: 3px solid white;
  
}

.startpage-gender-shop-selection-div * {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.men-startpage-background {
    background: url(/src/assets/skateboard.jpg);
    background-size: cover;
    border-right: 3px solid white;

}

.women-startpage-background {
    background: url(/src/assets/women-beach.jpg);
    background-size: cover;
}

/**
*! Footer styles here
**/

.footer {
    border-top: 3px solid white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 100%;
}


.footer-second-line {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}
.footer * h2 {
    font-size:25px;
}

.footer * input {
    font-size: 15px;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px;
}

.input-email {
    margin-top: 5px;
    width: 100%;
}

.newsletter-footer>h2 {
    margin-bottom: 10px;
}



.adress-footer>h2 {
    margin-bottom: 10px;
}

.newsletter-btn {
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}



.footer-links {
    display: flex;
    gap: 50px;
    color: white;
    margin-bottom: 15px;
}

.footer-links * {
    color: white;
}



/**
 *! Cookies / Impressum / Datenschutz Page Styles here
 **/

.cookies {
    padding: 120px 150px;
    background-color: rgb(238, 225, 234);
}

.cookies>h2 {
    margin-block: 20px;
}


.impressum {
    padding: 160px 150px;
    text-align: center;
    
    background-color: rgb(238, 225, 234);
}

.datenschutz {
    padding: 120px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(238, 225, 234);
}


/**
*! Shoe Styles here
**/

.shoes-div {
    padding-top: 150px;
    background-color: rgb(238, 225, 234);
    padding-bottom: 100px;
}



.shoes-div>h1 {
    margin-bottom: 50px;
    text-align: center;

}

.shoe-img {
    max-width: 300px;
    margin-bottom: 20px;

}

.shoe-component {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.shoe-component>button {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    max-width: 300px;
}


.slick-prev,
.slick-next {
    margin: 0 30px;
    z-index: 1;
}

/* Change the color of the navigation arrows to black */
.slick-prev::before,
.slick-next::before {
  color: black !important;
}

/* Change the position of the dots */
.slick-dots {
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
  }
  


.shoes-grid {

    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 50px;
    justify-content: center;
    align-content: center;
}

@media (max-width:1100px) {
    .shoes-grid {
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 50px;

    }
}

/**
*! Cart Page Styles here
**/

.cart-page {
   padding-top: 130px;
    min-height: 70vh;
    text-align: center;
    background-color: rgb(238, 225, 234);
}



.cart-elements-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-block: 50px;
}

.cart-infos {
    background: url(/src/assets/angebote-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   border-radius: 10px;
   padding: 20px;
    max-width: 550px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.buy-button {
    width: 250px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 8px;
}

.buy-button:disabled {
    cursor: not-allowed;
}

.cart-element {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: 150px;
}

.cart-element > img {
    max-width: 150px;

}

.remove-btn {
    width: 150px;
    border: none;
    padding: 10px;
    background-color: rgb(255, 85, 0);
    cursor: pointer;
}

/**
*! About Page Styles here
**/

.about-page {
    padding: 200px;
    background-color: rgb(238, 225, 234);
}

.address-about-page {
    margin-top: 50px;
    display: flex;
    gap: 150px;
}

.address-about-page * h2 {
    margin-bottom: 20px;
}


/**
*! Support Pages Styles here
**/


.support-page {
 padding: 200px;
}

.support-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.support-btn {
    padding: 5px 20px;
    height: min-content;
 cursor: pointer;
   align-self: flex-end;
background-color: inherit;
border: none;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.support-btn:hover {
    background-color: rgb(207, 230, 173);
}

.support-inputs {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
}

.support-inputs * {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
   
}

.support-form {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}


.support-form > textarea {
    min-width: 300px;
    padding: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}