@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&family=Rubik+Mono+One&display=swap');



* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

/**
*! Navbar styles here
**/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: black;
    color: whitesmoke;
    position: fixed;
    width: 100%;
    
}


.navbar-middle-elements {
    display: flex;
    gap: 50px;
}


.navbar * a {
    color: whitesmoke;
    font-weight: bold;
  
}


.bag-icon {
    color: wheat;
    font-size: 25px; 
   
}



/**
*! Starpage styles here
**/

.startpage-welcome-div {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(209, 202, 207, 0.73)),
    url(/src/assets/sneakers-welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.startpage-welcome-div > a {
    background-color: rgb(245, 232, 232);
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 50px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.cloud-text {
    font-family: 'Rubik Mono One', sans-serif;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/clouds.jpg);
	background-size: auto;
	background-attachment: unset;
	background-position: 0%;
	width: 80%;
	font-size: 100px;
	animation: clouds-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}


@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}

/**
*! Angebote StartPage Div
**/

.startpage-sales-div {
    background-image: url(/src/assets/angebote-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
  
}

.changing-background-container {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sales-notice-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: black;
    background: url(/src/assets/angebote-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 80px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}

.sales-notice-card > a {
    color: white;
    background-color: black;
    padding: 0px 30px;
    font-size: 30px;
}

/**
*! Gender Selection Startpage styles hre
**/

.startpage-gender-shop-selection-div {
    height: 60vh;
    display: flex;
    text-align: center;
}

.startpage-gender-shop-selection-div * {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: rgb(255, 255, 255); 
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.men-startpage-background {
    background: url(/src/assets/skateboard.jpg);
    background-size: cover;
   
}

.women-startpage-background {
    background: url(/src/assets/women-beach.jpg);
    background-size: cover;
}

/**
*! Footer styles here
**/

.footer {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url(/src/assets/background-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 25px solid rgb(242, 181, 181);
    color: white;

   
  width: 100%;
}

.footer-first-line {
    display: flex;
    justify-content: center;
  
    gap: 150px;
    align-items: start;
    width: 100%;
    font-size: 20px;
}

.footer * h2 {
    font-size: 30px;
}

.footer * input {
    font-size: 15px;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px;
}

.contact-form > textarea {
    width: 100%;
    min-height: 120px;
    font-size: 20px;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px;
    margin-top: 10px;
}
.contact-form > button {
    width: 66%;
    font-size: 25px;
  
 }

 .contact-inputs {
    display: flex;
    gap: 12px;
 }

 .input-email {
    width: 100%;
 }

.newsletter-footer > h2 {
    margin-bottom: 20px;
}
.contact-footer > h2 {
    margin-bottom: 20px;
}
.adress-footer > h2 {
    margin-bottom: 20px;
}

 .newsletter-btn {
    width: 100%;
    font-size: 20px;
    margin-top: 15px;
 }

 .footer-second-line {
    font-size: 20px;
    margin-top: 100px;
  
    bottom: 20px;
    text-align: center;
 }

 .footer-links {
    display: flex;
    gap: 50px;
    color: white;
    margin-bottom: 15px;
 }

 .footer-links * {
    color: white;
 }



 /**
 *! Cookies / Impressum / Datenschutz Page Styles here
 **/

 .cookies {
   padding: 120px 150px;
  
 }

.cookies > h2 {
    margin-block: 20px;
}
 

.impressum {
    padding: 160px 150px;
    text-align: center;
    background: url(/src/assets/angebote-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.datenschutz {
    padding: 120px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
