/**
*! Cart Page Styles here
**/

.cart-page {
    padding-top: 130px;
    padding-inline: 20px;
    min-height: 70vh;
    text-align: center;
    background-color: rgb(238, 225, 234);
}

.cart-elements-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-block: 50px;
}

.cart-infos {
    background: url(/src/assets/images/angebote-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
    max-width: 550px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (max-width:500px) {
    .cart-infos {
        font-size: smaller;
    }
}

.buy-button {
    width: 250px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 8px;
}

.buy-button:disabled {
    cursor: not-allowed;
}

.cart-element {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: 200px;
}

.cart-element>img {
    max-width:200px;
    border-bottom: 1px solid;
}

.remove-btn {
    width: 200px;
    border: none;
    padding: 10px;
    background-color: #d11a2a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
