/**
*! Product Page Styles here
**/

.product-page {
    display: flex;
    padding-top: 165px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.product-page-infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-page-btn {
    background-color: black !important;
    color: white !important;
    display: flex;
    gap: 10px;
}

.rating-stars {
    color: black !important;
}

.small {
    font-size: small;
    color: grey;
}

.big {
    font-size: larger;
}

.product-page-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.small-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.small-images img {
    width: 100px;
}

.big-img {
    width: 315px;
}


.delivery-infos {
    border: 1px solid;
}

.delivery-infos>div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.product-page-right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

@media (max-width:500px) {
    .product-page {
        padding-inline: 20px;
    }
    .product-page-right-side {
        gap: 25px;
        flex-direction: row;
        padding-bottom: 50px;
    }

    .small-images img {
        width: 80px;
    }
    
    .big-img {
        width: 250px;
    }
}