@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&family=Rubik+Mono+One&display=swap');

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: rgb(238, 225, 234);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}



/**
 *! Cookies Page Styles here
 **/

.cookies {
    padding: 120px 150px;
    background-color: rgb(238, 225, 234);
}

.cookies>h2 {
    margin-block: 20px;
}


/**
 *! Impressum Page Styles here
 **/

.impressum {
    padding: 160px 150px;
    text-align: center;
    background-color: rgb(238, 225, 234);
}


/**
 *! Datenschutz Page Styles here
 **/

.datenschutz {
    padding: 120px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(238, 225, 234);
}


/**
*! About Page Styles here
**/

.about-page {
    padding: 200px;
    background-color: rgb(238, 225, 234);
}

.address-about-page {
    margin-top: 50px;
    display: flex;
    gap: 150px;
}

.address-about-page * h2 {
    margin-bottom: 20px;
}